@font-face {
    font-family: 'Apercu';
    src: url('assets/fonts/ApercuFontFamily/ApercuProBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ApercuL';
    src: url('assets/fonts/ApercuFontFamily/ApercuProLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}